// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "timeline.scss";
@import "team.scss";
@import "contact.scss";
@import "footer.scss";


section {
  h3.section-subheading {
    line-height: 2rem;
    font-size: 1.3rem;
  }
}
@media(min-width:768px) {
  section {
    padding: 100px 0;
  }
}

.navbar-brand {
  width: 125px;
  background: url(../img/bloom.svg) center center no-repeat;
  background-size: 125px 50px;
  margin: 0;
  text-shadow: none;
  color: transparent!important;
}

.bg-dark h2 {
  color: #f7f7f7;
}

.bg-dark .text-muted {
  color: #c7c5c7!important;
}

.card-body li {
  margin: 0.75rem 0;
}

section#contact {
  background-color: $gray-900;
  background-image: none;
}
