// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "timeline.scss";
@import "team.scss";
@import "contact.scss";
@import "footer.scss";

.navbar-brand {
  width: 125px;
  background: url(../img/bloom.svg) center center no-repeat;
  background-size: 125px 50px;
  margin: 0;
  text-shadow: none;
  color: transparent!important;
}